<div id="auth">
    <div class="auth-background">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-xs-12">
                </div>
                <div class="col-sm-5 col-xs-12">
                    <div class="box-auth">
                        <h3 class="font-pink">Payment Confirmation</h3>
                        <br/>

<form class="form-costum">
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Order Number">
    </div>
    <button type="submit" class="btn btn-primary button-gray" style="width: 100%">Proceed</button>
</form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>