<div id="auth">
    <div class="auth-background">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-xs-12">
                </div>
                <div class="col-sm-5 col-xs-12">
                    <div class="box-auth">
                        <p>Welcome to</p>
                        <img src="img/logo.png" height="40">
                        <br/><br/>

<form class="form-costum">
    <div class="form-group">
    <input type="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
    <input type="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
    <input type="password" class="form-control" placeholder="Confirm Password">
    </div>
    <button type="submit" class="btn btn-primary button-gray" style="width: 100%">Submit</button>
</form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>