<div ng-include="'views/partials/sub-menu.html'"></div>

<div id="det-shop">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-xs-12">
                <div class="preview">
                    <img src="img/products/{{ detproducts.image }}" alt="..." class="img-thumbnail" width="100%">
                </div>
                <div class="product-thumb">
                    <!-- <div class="row">
                    
                      <div class="col-xs-3 col-md-3" ng-repeat="subimage in detproducts.subimages">
                        <a href="#" class="thumbnail">
                          <img src="img/products/{{ subimage.image }}" alt="...">
                        </a>
                      </div> -->

                      <slick lazy-load="ondemand" slides-to-show="5" slides-to-scroll="1" ng-if="detproducts.subimages.length">

                        <div ng-repeat="subimage in detproducts.subimages">
                            <a class="thumbnail" style="margin:5px;">
                              <img src="img/products/{{ subimage.image }}" alt="...">
                            </a>
                        </div>
                        
                    </slick>

                    <!-- </div> -->
                </div>
            </div>
            <div class="col-sm-7 col-xs-12">
                <h1 class="font-pink">{{ detproducts.name }}</h1>
                <p class="price">{{ detproducts.price  | currency }}</p>
                <div class="border-gradient"></div>
                <p class="des" ng-bind-html="detproducts.description"></p>
                <div class="border-gradient"></div>

                <div class="row rating">
                    <div class="col-sm-6 col-xs-6 spasinull">
                        <p class="vote">
                            Rate this product &nbsp;&nbsp;
                            <i class="ion-ios-star select" ng-if="vote.tot_vote >= 1"></i><i class="ion-ios-star" ng-if="vote.tot_vote < 1"></i>
                            <i class="ion-ios-star select" ng-if="vote.tot_vote >= 2"></i><i class="ion-ios-star" ng-if="vote.tot_vote < 2"></i>
                            <i class="ion-ios-star select" ng-if="vote.tot_vote >= 3"></i><i class="ion-ios-star" ng-if="vote.tot_vote < 3"></i>
                            <i class="ion-ios-star select" ng-if="vote.tot_vote >= 4"></i><i class="ion-ios-star" ng-if="vote.tot_vote < 4"></i>
                            <i class="ion-ios-star select" ng-if="vote.tot_vote >= 5"></i><i class="ion-ios-star" ng-if="vote.tot_vote < 5"></i>
                        </p>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <div class="sosial">
                            Share: 
                            <a href="#"><i class="ion-social-facebook"></i></a>
                            <a href="#"><i class="ion-social-instagram-outline"></i></a>
                            <a href="#"><i class="ion-social-twitter"></i></a>
                            <a href="#"><i class="ion-social-pinterest-outline"></i></a>
                        </div>
                    </div>
                </div>


                <form class="form-inline">
                  <div class="form-group">
                    <select class="form-control input-sm">
                        <option value="">Select Color</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <select class="form-control input-sm">
                        <option value="">Quantity</option>
                    </select>
                  </div>
                  <a type="submit" class="btn btn-primary btn-sm button-gray" ng-click="cart.addItem(detproducts.id, detproducts.name, detproducts.price, detproducts.image, 1)">Add to Bag</a>
                </form>

            
<br/>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <p class="panel-title">
        <a onclick="return false;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          How to Apply
          <span style="position: absolute; right:20px; font-size: 20px;"><i class="ion-ios-plus-empty"></i></span>
        </a>
      </p>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p class="des">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <p class="panel-title">
        <a onclick="return false;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Ingredients
          <span style="position: absolute; right:20px; font-size: 20px;"><i class="ion-ios-plus-empty"></i></span>
        </a>
      </p>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <p class="des">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <p class="panel-title">
        <a onclick="return false;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Shipping & Return
          <span style="position: absolute; right:20px; font-size: 20px;"><i class="ion-ios-plus-empty"></i></span>
        </a>
      </p>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <p class="des">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
      </div>
    </div>
  </div>
</div>





            </div>
        </div>

        <div class="panel-gradient">
            <p>RELATED PRODUCT</p>
        </div>

        <div class="row related-product">

          <div class="col-xs-6 col-md-3" ng-repeat="relatedproduct in relatedproducts">
            <div class="thumbnail">
              <img src="img/products/{{ relatedproduct.image }}" alt="...">
              <div class="caption">
                <p class="spasinull"><a href="#/shop/product/{{ relatedproduct.slug }}">{{ relatedproduct.name }}</a></p>
                <p class="desc font-italic spasinull">{{ relatedproduct.subname }}</p>
                <p class="font-pink font-italic">{{ relatedproduct.price | currency }}</p>
                <p class="vote">
                    <i class="ion-ios-star select" ng-if="relatedproduct.tot_vote >= 1"></i><i class="ion-ios-star" ng-if="relatedproduct.tot_vote < 1"></i>
                    <i class="ion-ios-star select" ng-if="relatedproduct.tot_vote >= 2"></i><i class="ion-ios-star" ng-if="relatedproduct.tot_vote < 2"></i>
                    <i class="ion-ios-star select" ng-if="relatedproduct.tot_vote >= 3"></i><i class="ion-ios-star" ng-if="relatedproduct.tot_vote < 3"></i>
                    <i class="ion-ios-star select" ng-if="relatedproduct.tot_vote >= 4"></i><i class="ion-ios-star" ng-if="relatedproduct.tot_vote < 4"></i>
                    <i class="ion-ios-star select" ng-if="relatedproduct.tot_vote >= 5"></i><i class="ion-ios-star" ng-if="relatedproduct.tot_vote < 5"></i>
                </p>
              </div>
            </div>
          </div>

        </div>



    </div>
</div>