<div class="summary">
    <div class="container">
        <div id="cart">
            <h3 class="font-pink title">Shopping Bag Summary</h3>
            <table class="table step">
                <tr>   
                    <td width="25%"><h3 class="font-pink spasinull">01</h3><p>Summary</p></td>
                    <td class="active" width="25%"><h3 class="font-pink spasinull">02</h3><p>Login</p></td>
                    <td width="25%"><h3 class="font-pink spasinull">03</h3><p>Address & Shipping</p></td>
                    <td width="25%"><h3 class="font-pink spasinull">04</h3><p>Payment</p></td>
                </tr>
            </table>

            <p>Please Log In</p>
            <hr/>
            <div class="row">
                <div class="col-sm-5 col-xs-12">
                    <form class="form-costum">
                      <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                      <button type="submit" class="btn btn-primary button-gray">Submit</button>
                    </form>
                </div>
                <div class="col-sm-7 col-xs-12">
                </div>
            </div>
            
            <div style="height:45px;"></div>
            

            <p>Sign Up</p>
            <hr/>
            <div class="row">
                <form class="form-costum">
                    <div class="col-sm-5 col-xs-12">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name">
                              </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name">
                              </div>
                            </div>
                        </div>
                          <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email">
                          </div>
                          <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password">
                          </div>
                          <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm Password">
                          </div>
                    </div>
                    <div class="col-sm-7 col-xs-12">
                        
                        <div class="row">
                            <div class="col-xs-4">
                              <div class="form-group">
                                <select class="form-control">
                                  <option>Indonesia</option>
                                  <option>Rusia</option>
                                  <option>India</option>
                                  <option>Jepang</option>
                                  <option>Korea</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-xs-4">
                              <div class="form-group">
                                <select class="form-control">
                                  <option>Jawa Barat</option>
                                  <option>DKI Jakarta</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-xs-4">
                              <div class="form-group">
                                <input type="text" class="form-control" placeholder="Postal Code">
                              </div>
                            </div>
                        </div>

                          <div class="form-group">
                            <textarea class="form-control" rows="4" placeholder="Address"></textarea>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Phone">
                          </div>
                    </div>
                    <div class="col-xs-12">
                        <p>By Joining, you agree to our terms and condition</p>
                        <button type="submit" class="btn btn-primary button-gray">Join</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>