<div class="summary">
    <div class="container">
        <div id="cart">
            <div style="text-align: center;">
                <h2 class="font-pink title">Thank You!</h2>
                <hr/>
                <p>Your order will be processed. You will receive an email details of your reservation. please confirm your payment.</p>
                <h2 class="font-pink title">ESQA020001</h2>
                <a href="#/cart/paymentconf" type="submit" class="btn btn-primary button-gray">Payment Confirmation</a>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                        <h4>Shipping Method</h4>
                        <hr/>
                        <table class="table">
                            <tr>
                                <td>Item</td>
                                <td>Pink Tone Blush-on</td>
                            </tr>
                            <tr>
                                <td>Qty</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td valign="top">Bank Transfer</td>
                                <td>
                                    <ul>
                                        <li>ESQA Cosmetic</li>
                                        <li>5000.12.3456 (BCA)</li>
                                        <li>120.000.345.678 (Mandiri)</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                </div>

                <div class="col-sm-6 col-xs-12">
                        <h4>Your Delivery Address</h4>
                        <hr/>
                        <h5 class="font-pink">Ms. Margot Robbie</h5>
                        <ul>
                            <li>Jl. Menteng Raya No 7A</li>
                            <li>Jakarta Pusat 12345</li>
                            <li>Indonesia</li>
                            <li>+6281234567890</li>
                        </ul>
                </div>
            </div>

                        <hr/>
        </div>
    </div>
</div>