<div class="summary">
    <div class="container">
        <div id="cart">
            <h3 class="font-pink title">Shopping Bag Summary</h3>
            <table class="table step">
                <tr>   
                    <td width="25%"><h3 class="font-pink spasinull">01</h3><p>Summary</p></td>
                    <td width="25%"><h3 class="font-pink spasinull">02</h3><p>Login</p></td>
                    <td width="25%"><h3 class="font-pink spasinull">03</h3><p>Address & Shipping</p></td>
                    <td class="active" width="25%"><h3 class="font-pink spasinull">04</h3><p>Payment</p></td>
                </tr>
            </table>

            <p>Your shopping bag contain: 1 product</p>
            
            

            <hr/>
            <div class="row">
                <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary button-gray">Continue Shopping</button>
                </div>
                <div class="col-xs-8" style="text-align: right;">
                        <a href="#/" type="submit" class="btn btn-primary button-gray">Finish</a>
                </div>
            </div>
        </div>
    </div>
</div>